.get-quote {
    width: 216px;
    height: 60px;
    background-color: $sec;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    color: $text;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 0 0 rgba($sec, .5);
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;

    @include rtl {
        font-size: 24px;
        font-weight: 600;
    }

    &:hover,
    &:focus {
        color: #fff;
        background-color: $main;
        text-decoration: none;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: -0;
        left: -0;
        right: -0;
        top: -0;
        border-radius: 50px;
        transform-origin: center;
        background-color: transparent;
        transition: all 0.3s ease-in-out;
        animation-name: pulse;
        box-shadow: 0 0 0 0 rgba($sec, .25);
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        animation-delay: 0.25s;
    }
}