.form-group {
    text-align: center;
    margin-bottom: 21px;

    @include md {
        margin-bottom: 12px;
    }

    >label {
        font-size: 20px;
        color: $text;
        font-weight: 700;
        margin: 0 0 16px;
        padding: 0 40px;

        @include md {
            margin-bottom: 10px;
            font-size: 16px;
        }

        @include rtl {
            font-size: 35px;
            line-height: 35px;

            @include md {
                font-size: 25px;
                line-height: 25px;
            }
        }
    }

    &.required {
        >label {
            &::after {
                content: "*";
                color: #eb115d;
            }
        }
    }
}

.form-control {
    width: 100%;
    background-color: #fff;
    border: 2px solid #dbdbdb;
    height: 60px;
    border-radius: 30px;
    text-align: center;
    font-size: 16px;
    color: #808080;
    font-style: italic;
    padding: 0 37px;
    transition: all 0.3s ease-in-out;

    &::placeholder {
        font-size: 15px;
        color: #808080;
        font-style: normal;

        @include rtl {
            font-size: 22px;
            font-style: normal;

            @include md {
                font-size: 20px;
            }
        }
    }

    @include rtl {
        font-size: 25px;
        font-style: normal;

        @include md {
            font-size: 20px;
        }
    }

    @include md {
        height: 55px;
        padding: 0 27px;
    }

    &:focus {
        border-color: $main;
        box-shadow: none;
    }
}

.input-file {
    position: relative;

    [type=file] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;

        ~input {
            background-color: #fff;
            font-style: normal;
        }
    }
}

textarea {
    &.form-control {
        height: 100px;
        padding: 15px 37px;
        resize: none;

        @include md {
            padding: 15px 27px;
        }
    }
}

.form-submit {
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background-color: $main;
    width: 216px;
    height: 60px;
    border-radius: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    transition: all 0.3s ease-in-out;

    @include rtl {
        font-size: 25px;

        @include md {
            font-size: 20px;
        }
    }

    &:hover {
        background-color: $text;
    }

    @include md {
        margin-top: 30px;
    }
}

.form-line {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    @include lg {
        gap: unset;
        grid-template-columns: 1fr;
    }
}